*{
	font-family: arial;
}
body{
	margin: 0;
	padding: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after{
	clear: both;
	content: "";
	display: table;
}
aside{
	width: 20%;
	float: left;
	border: 1px solid #ccc;
	min-height: 500px;
}
aside ul li{
	list-style: none;
	margin-top: 10px;
}
aside ul li a{
	text-decoration: none;
	outline: none;
	color: #555;
}
aside ul li a:hover{
	color: #ff4d92;
}
