.square{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}
.square > img{
	height: 100%;
}

div:hover{
	box-shadow: 3px 5px 10px grey;
}
body{
	min-height: 2000px;
}

.deco{
	height: 50px;
	background: black;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(0,0,0,0.3);
}
.normal{
	border-radius: 50%;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	position: fixed;
	bottom: 20px;
	right: 10px;
}